:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 33, 37, 41;
  --background-start-rgb: 248, 249, 250;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #ff6f6133 0deg,
    #ff3e0033 55deg,
    #ff9e0033 120deg,
    #ff450033 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 245, 245, 245;
  --tile-end-rgb: 230, 230, 230;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 248, 249, 250;
  --callout-border-rgb: 206, 212, 218;
  --card-rgb: 233, 236, 239;
  --card-border-rgb: 173, 181, 189;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 248, 249, 250;
    --background-start-rgb: 33, 37, 41;
    --background-end-rgb: 17, 17, 17;

    --primary-glow: radial-gradient(rgba(255, 105, 97, 0.4), rgba(255, 105, 97, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(255, 105, 97, 0),
      rgba(255, 105, 97, 0),
      rgba(255, 105, 97, 0.3)
    );

    --tile-start-rgb: 52, 58, 64;
    --tile-end-rgb: 33, 37, 41;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 40, 44, 52;
    --callout-border-rgb: 108, 117, 125;
    --card-rgb: 52, 58, 64;
    --card-border-rgb: 108, 117, 125;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}